Auction/.vs/*

Auction/Auction/bin/*
Auction/Auction/obj/*

Auction/Auction.Application/bin/*
Auction/Auction.Application/obj/*

Auction/Auction.DataAccess/bin/*
Auction/Auction.DataAccess/obj/*

Auction/Auction.Domain/bin/*
Auction/Auction.Domain/obj/*


*.cache
*.editorconfig

front/package-lock.json